<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href={{ url_for("static", filename="styles.css") }}>


  </head>

  {% extends "base.html" %}
  {% block content %}
<br>
  <div class = "page-header"  class="display-1">
    <h1 class="text-lg-center" >Profile</h1>
  </div>
<br>

  <blockquote class="blockquote text-center">

    <h3 class="subtitle is-4">user handle: {{user_handle}} </h3>
    <h5 class="subtitle is-4"> first name: {{first_name}}</h5>
    <h5 class="subtitle is-4"> last name: {{last_name}}</h5>
    <br>
    <p class="mb-0">We're happy to have you on our platform</p>
    <br>
    </br>
    <footer class="blockquote-footer">©White Water</footer>
  </blockquote>

    {% endblock %}



  </body>
